.container {
  padding: 15px;
}
.modx-page-header {
  margin-bottom: 20px;
}

.usershop-navigation-menu {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
.usershop-navigation-menu .x-box-inner {
  width: max-content !important;
}
.usershop-nav-link {
  position: static;
  top: 0px;
  padding: 5px 15px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
}
.usershop-nav-link.active {
  background: #2d86b7;
  color: #fff;
}

.usershop-tbar {
  width: max-content !important;
  margin-left: auto;
}
