.favorite-product {
  &__btn {
    cursor: pointer;

    width: 37.5px;
    height: 37.5px;

    svg {
      max-width: 36px;
      max-height: 36px;
      transform: scale(0.7);
    }

    &.active {
      svg:nth-child(1) {
        display: none;
      }
      svg:nth-child(2) {
        display: block;
      }
    }
    svg:nth-child(2) {
      display: none;
    }
  }
}
