/* Основной контейнер */
.custom-select {
  position: relative;
  width: 100%;
  // width: 230px;

  &:focus {
    border-color: $primary-dark;
  }

  /* Кнопка селекта */
  [data-custom-select-btn] {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    z-index: 101;

    cursor: pointer;
    text-align: left;

    // background-color: $secondary-light-gray;
    // padding: 16px 24px;
    // border-radius: 100px;
    // border: 1px solid $secondary-light-gray;
    color: $primary-dark;
    font-weight: 500;
    width: 100%;
    gap: 16px;
    transition: 0.2s;

    // &:hover {
    //   opacity: 0.7;
    // }

    &:after {
      content: "";
      position: absolute;
      right: 20px;

      transform: rotate(45deg);
      border: solid #000;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transition: 0.2s;
      margin-top: -6px;
    }
    &.active {
      &:after {
        transform: rotate(224deg) translateY(-5px) translateX(-4px);
      }
    }
  }

  /* Выпадающий список */
  &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    // border: 1px solid #ccc;
    border-radius: $small-radius;
    box-shadow: 10px 0 60px hsla(0, 0%, 79%, 0.4);
    max-height: 300px;
    overflow-y: auto;
    z-index: 100;
    transition: 0.2s;

    &-item {
      padding: 5px 10px;
      cursor: pointer;
      color: #000;
      transition: background 0.2s;
      text-align: center;
      font-weight: 600;
      transition: 0.2s;
      display: block;
      &:hover {
        color: $primary-dark;
      }
    }

    &-group {
      padding: 10px;
      // border-bottom: 1px solid #eaeaea;
      &-title {
        color: #686868;
        margin: 0 16px 5px;
      }
    }
  }

  /* Скрытый элемент */
  .hidden {
    opacity: 0;
    visibility: hidden;
  }
}
